* {
    margin: 0px;
    padding: 0px;
}

ion-toolbar {
    --background: #3178bd;
    color: white;
    box-shadow: 0px 10px 15px -5px #000000bf;

}

ion-content {
    --padding-start: 20px;
    --padding-top: 20px;
    --padding-end: 20px;

    --background: #e6e6e6;
}

ion-row {
    margin-bottom: 10px;
    border-bottom: 1px solid #c8c7cc;
}

ion-list {
    background: transparent;


    ion-label {
        margin-bottom: 5px;
        font-size: 11px;
        color: #989898;
    }

    ion-input {
        height: 25px;
        font-size: 17px;
        --placeholder-color: #4c4c4c;
        --placeholder-opacity: none;
        --padding-bottom:   0;
        --padding-end:      0;
        --padding-start:    0;
        --padding-top:      0;

        
    // border: 1px solid black; // to see for test
    }

    ion-datetime {
        margin-top: 2px;
        
        font-size: 17px;
        --placeholder-color: #4c4c4c;
        
    }
}

ion-label {
    font-size: 15px;
    color: #5f5f5f;
}


ion-button {
    padding: 0;
    
    --background: #4686c6;
    --background-activated: #4697c6;
}
